$adaptaAccent: #00bcd4;
$adaptaNoktoBackground: #222d32;
$adaptaNoktoMiddleground: #263238;
$adaptaNoktoForeground: #29353b;
$adaptaNoktoAccent: $adaptaAccent;
$adaptaNoktoScrollbar: #434b4f;
$adaptaNoktoScrollbarHover: #6c787d;
$adaptaNoktoScrollbarActive: #cfd8dc;
$color_fuscous_gray_approx: #565252;
$color_mine_shaft_approx: #2f3136;
$alabaster: #fafafa;
$white: #fff;
$white_2: rgba(255, 255, 255, 0.02);
$color_limed_spruce_approx: #3e494e;
$black_20: rgba(0, 0, 0, 0.2);
$color_aztec_62_approx: rgba(15, 25, 25, 0.62);
$color_tuna_approx: #333b3f;
$color_shuttle_gray_approx: #5e6a6e;
$color_nevada_approx: #646f74;
$color_gray_chateau_approx: #a3adb2;
$color_scooter_approx: #33bad2;
$color_bondi_blue_approx: #009eb2;
$color_puerto_rico_approx: #4db6ac;
$color_charade_approx: #263136;
$white_4: rgba(255, 255, 255, 0.04);
$color_robins_egg_blue_10_approx: rgba(0, 186, 210, 0.1);
$color_robins_egg_blue_30_approx: rgba(0, 186, 210, 0.3);
$color_milano_red_approx: #d11800;
$color_milano_red_10_approx: rgba(209, 24, 0, 0.1);
$color_milano_red_30_approx: rgba(209, 24, 0, 0.3);
$black_15: rgba(0, 0, 0, 0.15);