//META{"name":"Discord Adapta","description":"A theme based on Adapta-Nokto, a GTK theme for linux.","author":"marc0tjevp","version":"0.1"}*//{}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Ubuntu+Mono');

.theme-dark .chat form {
  background: none !important;
}

.chat>.title-wrap.title-wrap-dark, .ui-standard-sidebar-view .scroller, .guilds-wrapper {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2) !important;
}

.scroller-2v3d_F {
  background: #263238;
  padding-bottom: 20px;
}

.theme-dark .typing-2GQL18 {
  background: none;
}

.unread-mentions-indicator-bottom,
.unread-mentions-indicator-top {
  padding: 0px !important;
}

.container-PNkimc,
.theme-dark .members-1998pB,
.bda-dark .emoji-picker,
.bda-dark .emojiPicker-3m1S-j {
  background: #222d32;
}

.flex-spacer.flex-vertical {
  box-shadow: none !important;
}

.container-2Thooq {
  background: none;
}

.guilds-wrapper .guild-separator:after {
  background: #565252;
}

.guilds-wrapper .guild-separator:after {
  background: #2f3136;
  content: " ";
  height: .5px;
  left: 0%;
  position: absolute;
  right: 0%;
  top: 0;
}

.message-group .comment {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 20px;
  min-width: 0;
}

.channels-Ie2l6A {
  background: #263238;
}

.theme-dark .friends-table .messages .divider:before,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span,
.theme-dark .friends-table .messages .divider:before,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span,
.theme-dark .friends-table .messages .divider:not(.red) div,
.theme-dark .messages-wrapper .messages .divider:not(.red) div,
.theme-dark .chat>.content,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.theme-dark .chat form .typing {
  background-color: #232d31;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.theme-dark .message-group .comment .markup .mention {
  background-color: rgba(15, 25, 25, 0.62);
  color: #fafafa;
}

.theme-dark .title-3qD0b- {
  background: #222d32;
}

.theme-dark .headerBar-UHpsPw {
  background: #222d32;
}

.guilds-wrapper {
  background: #222d32;
  border: none;
  z-index: 4;
}

.theme-dark .message-group a,
.theme-dark .chat .welcome-message a {}

.guilds-wrapper .guilds-add {
  background: #222d32;
  color: #ffffff;
  border: none;
}

#friends .friends-table {
  margin-top: 1px;
}

/*Header and Far Left*/

.guilds-wrapper .guilds .guild .guild-inner,
div .guild-inner,
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.header,
.connecting,
.theme-dark #friends .friends-header,
.theme-dark #friends,
.search-bar,
#bd-customcss-detach-container {
  background: #222d32 !important;
}

.guilds-wrapper .guild-separator:after {
  background: #ffffff;
}

/*Left and Right Sidebar Color*/

.theme-dark .channel-members,
.guild-channels,
.account,
.guild-channels .channel-text.selected,
#rtc-connection,
.theme-dark .message-group .embed,
.private-channels,
.container-RYiLUQ,
.container-3lnMWU,
.container-iksrDt {
  background-color: #263238;
}

/*Chat Color*/

.theme-dark .friends-table .messages .divider:before,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span,
.theme-dark .friends-table .messages .divider:before,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span,
.theme-dark .friends-table .messages .divider:not(.red) div,
.theme-dark .messages-wrapper .messages .divider:not(.red) div,
.theme-dark .chat>.content,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.theme-dark .chat form .typing {
  background-color: #263238;
}

.account .btn,
#rtc-connection .btn,
.theme-dark .channel-members .member:hover,
.theme-dark .channel-members .member.popout-open {
  background: rgba(255, 255, 255, 0.02);
}

.account .btn-group,
#rtc-connection .btn-group,
.account .btn-deafen,
.account .btn-mute,
.account {
  border: none;
}

* {
  font-family: Ubuntu;
  font-weight: 200;
}

.theme-dark .chat .title-wrap {
  border: none;
}

.guild-channels .channel-text.selected:before,
.guild-channels .channel-text.selected:hover:before,
.private-channels .channel.selected:before,
.contentSelectedText-3j5CXt {
  border-left: 2px solid #263238;
  border-radius: 0;
  transition: border 0.2s ease-in;
}

.contentDefaultText-2elG3R {
  transition: border 0.2s ease-out;
  border-radius: 0;
}

.channel-textarea-inner {
  border: none;
}

.theme-dark .channel-textarea-inner {
  background-color: transparent;
}

textarea {
  border-bottom: 1px solid #3e494e !important;
  padding-bottom: 8px !important;
  transition: border 0.2s ease-out;
}

textarea:focus {
  border-bottom: 2px solid #333b3f !important;
  transition: border 0.2s ease-in;
}

.theme-dark .channel-textarea-emoji {
  display: none;
}

/*scrollbars*/

::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border: none !important;
}

::-webkit-scrollbar-thumb {
  border: none !important;
  background-color: #5e6a6e !important;
  border-radius: 1px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646f74 !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: #a3adb2 !important;
}

.contentHoveredText-2HYGIY {
  background-color: transparent;
}

.guild-channels .channel-text.selected {
  background: transparent !important;
}

.account .btn-deafen,
.account .btn-settings,
#rtc-connection .btn-disconnect {
  box-shadow: none;
}

#rtc-connection {
  border: none;
}

.guild-channels .channel-text:hover {
  background: transparent;
}

.theme-dark .chat .title-wrap,
.guild-header header,
.search-popout {
  background-color: #222d32;
}

.search-popout .option:after {
  background: transparent;
}

#rtc-connection .btn-info {
  border: none;
}

::selection {
  background: #33bad2;
}

.ui-tab-bar.SIDE .ui-tab-bar-item.selected,
.ui-tab-bar.SIDE .ui-tab-bar-item:active,
._3Mv0RaJ0,
.ui-switch-checkbox:checked+.ui-switch,
.chat .new-messages-bar,
.theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary,
.ui-standard-sidebar-view #editor-detached button,
.ui-switch-wrapper:not(.disabled):not(.clear):hover .ui-switch-checkbox:checked+.ui-switch,
.buttonBrandFilled-3Mv0Ra,
.bd-pfbtn,
.ui-standard-sidebar-view #bd-customcss-attach-controls button,
.bd-detached-css-editor #bd-customcss-attach-controls button {
  background: #263238;
}

.buttonBrandFilledDefault-2Rs6u5:hover,
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover,
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
  background: #009eb2;
}

.ui-card.ui-card-primary.flex-horizontal.margin-bottom-8.checked.editable,
.form .btn-primary,
.checkbox .checkbox-inner input[type=checkbox]:checked+span,
.tooltip {
  background: #263238 !important;
  border-color: #263238 !important;
}

.user-popout .avatar-wrapper .avatar-popout {
  border-color: #263238;
}

.tooltip.tooltip-top:after {
  border-top-color: #263238;
}

.tooltip.tooltip-right:after {
  border-right-color: #263238;
}

.tooltip.tooltip-bottom:after {
  border-bottom-color: #263238;
}

.ui-tab-bar.SIDE .ui-tab-bar-item.brand {
  color: #263238;
}

.ui-checkbox-wrapper .ui-checkbox.checked polyline {
  stroke: #263238 !important;
}

.ui-slider .slider-bar-fill,
.chat .new-messages-bar:hover,
.slider-bar-fill {
  background-color: #4db6ac;
}

.chat .new-messages-bar button:last-child {
  color: white;
}

.avatar-uploader-inner {
  background: transparent;
}

.theme-dark .guild-settings-base-section .avatar-uploader .avatar-uploader-inner,
.theme-dark .guild-settings-splash-section .avatar-uploader .avatar-uploader-inner {
  box-shadow: none;
}

.user-popout .footer {
  background: #263238;
  border: none;
}

.user-popout .body,
.form .form-inner,
.modal-content {
  background: #263238;
}

.alert.form.has-icon:before {
  background-color: #263238 !important;
  /*here too @127*/
}

.quick-message {
  background: #263238;
  border: none;
  border-bottom: 1px solid #263238;
  color: white;
  border-radius: 0px;
}

.alert.form .form-inner h4 {
  color: white;
}

.protip .label {
  color: #4db6ac;
}

.member-roles .member-role {
  border: none;
  background: rgba(255, 255, 255, 0.02);
}

.guild-header.popout-open header,
.guild-header header:hover {
  background: #263136;
}

.theme-dark.context-menu,
.theme-dark.context-menu .item,
.theme-dark.context-menu .context-menu {
  background: #28343a;
}

.context-menu {
  border-radius: 1px;
}

.theme-dark.context-menu .item:hover,
.private-channels .channel:hover {
  background: rgba(255, 255, 255, 0.02);
}

.context-menu.item,
.theme-dark.context-menu .item-subMenu {
  border-radius: none;
}

.theme-dark.context-menu .item-subMenu {
  background: #28343a url(/assets/1988164a7c55346d32117b151f4e319d.svg) no-repeat 155px 50% !important;
}

.private-channels .channel.selected {
  background: rgba(255, 255, 255, 0.04);
}

.search-bar {
  border-radius: none;
  box-shadow: none;
}

.note textarea {
  border-bottom: 1px solid #3e494e;
  transition: border 0.2s ease-out;
}

.note textarea:focus {
  background: transparent;
  border-bottom: 2px solid #263238;
  transition: border 0.2s ease-in;
}

.theme-dark #friends .friends-table .friends-row:hover {
  background: rgba(255, 255, 255, 0.02);
}

.name-2SL4ev {
  font-weight: 400;
}

.search-bar .search-bar-inner {
  border: none;
  border-radius: 0px;
  background: transparent;
}

.search-bar input {
  border-bottom: 1px solid #3e494e;
  transition: border 0.2s ease-out;
}

.search-bar input:focus {
  border-bottom: 2px solid #263238;
  transition: border 0.2s ease-in;
}

.theme-dark .channel-textarea-inner .channel-textarea-upload {
  border: none;
}

.content-region #bd-customcss-attach-controls,
#bd-customcss-detach-container #bd-customcss-attach-controls {
  background-color: #263238;
  box-shadow: none;
}

.mention {
  color: #263238;
}

.theme-dark .message-group .comment .markup .mention {
  background-color: rgba(0, 186, 210, 0.1);
}

.theme-dark .message-group .comment .markup .mention:hover {
  background-color: rgba(0, 186, 210, 0.3);
}

.contentSelectedText-3j5CXt {
  background: rgba(255, 255, 255, 0.02);
}

.tooltip.tooltip-error {
  background-color: #d11800 !important;
}

.tooltip.tooltip-error.tooltip-right:after {
  border-right-color: #d11800;
}

.guilds-wrapper .guilds-error {
  border-color: #d11800;
  background: rgba(209, 24, 0, 0.1);
}

.guilds-wrapper .guilds-error:hover,
.notice.notice-danger {
  background-color: #d11800;
}

.ui-tab-bar.SIDE .ui-tab-bar-item.danger,
.buttonRedOutlined-2t9fm_ {
  color: #d11800;
}

.buttonRedOutlined-2t9fm_ {
  border-color: rgba(209, 24, 0, 0.3)
}

.wrapper-fDmxzK
/*space out channels*/

  {
  padding-bottom: 4px;
}

.theme-dark .chat form {
  border: none;
  box-shadow: none;
}

.modal-content .form-inner p {
  color: #fff;
}

.bd-pfbtn {
  font-family: Ubuntu;
  padding: 3px;
}

.container-3lnMWU {
  border: none;
}

.private-channels .channel.selected a,
.private-channels .channel:hover a {
  background-color: transparent;
}

/*shadowed borders*/

.flex-spacer.flex-vertical {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.chat>.title-wrap.title-wrap-dark,
.ui-standard-sidebar-view .scroller,
.guilds-wrapper {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.guild-header header {
  box-shadow: -2px 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: none;
}